.left-side{
    background-color: black;
    float : left;
}

.right-side{
    background-color: aliceblue;
    float: left;
}



@media (max-width : 480px) {
    left-side, right-side{
    width: 100%;
    height: auto;
    }
}